@charset "utf-8";
body{
    margin: 0;
    background-image: url(images/background.jfif);
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    background-color: #fff;
    min-height: 100vh;/*보는화면의 높이*/
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.task_area{
    border: 1px solid lightblue;
    margin-top: 40px;
}

.task_tabs{
    display: flex;
    border-bottom: 1px solid lightblue;
    position: relative;
}

.task_tabs div{
    padding: 1em;
}

/*자바스크립트를 위해 사용*/
#under_line{
    height: 4px;
    background-color: pink;
    position: absolute;
    width: 80px;
    left: 0;
    top: 52px;
    padding: 0;
}

.task{
    display: flex;
    justify-content: space-between;
    padding: 1em;
}